<script lang="ts">
	import "../app.css";
	import { onMount } from "svelte";
	import {dataStore} from "$lib/store"

	onMount(async()=>{
        const res = await fetch('/order',
            {
                method: 'PATCH',
                headers: {
                "content-type": "application/json",
                accept: "application/json",
                },
                body:JSON.stringify({lastday:0})
            }
        )
        if(res.status == 200){
            let data = await res.json()
			      dataStore.set(data)
        }
    })

</script>
<div class="navbar bg-neutral text-neutral-content">
	<div class="flex-1">
		<a href='/' class="btn btn-ghost normal-case text-xl">Shipper</a>
	  </div>
	  <div class="flex-none">
		<ul class="menu menu-horizontal p-0">
		  <li><a href="/order">Order</a></li>
		  <li><a href="/find">Find</a></li>
      <li><a href="/find/qr">Bag</a></li>
		</ul>
	  </div>
</div>
<slot />