<script>
  import { onMount, onDestroy } from "svelte";
  let data = [];
  let tmp = [];
  let interval;
  let curLocation = "";
  let isEdit = true
  onMount(async () => {
    let data = localStorage.getItem("bill")
    let dataParser = JSON.parse(data)
    console.log(dataParser.data)

    let dataPhones = localStorage.getItem("phones")
    let dataPhonesP = JSON.parse(dataPhones)

    let dataFinal = localStorage.getItem("final")
    let dataFinalP = JSON.parse(dataFinal)

    console.log(dataFinalP)
      tmp = dataFinalP.data
      data = tmp;
      fil();
      
      interval = setInterval(() => {
        getLocation();
        let cur = curLocation.match(/\d+\.\d+/g);
        if (cur) {
          data.map((v, i) => {
            let loc = v.location.match(/\d+\.\d+/g);
            console.log(cur);
            console.log(loc);
            console.log(
              distanceInKmBetweenEarthCoordinates(
                cur[0],
                cur[1],
                loc[0],
                loc[1]
              )
            );
            data[i].distance = distanceInKmBetweenEarthCoordinates(
              cur[0],
              cur[1],
              loc[0],
              loc[1]
            );
            console.log(data);
            data = [...data];
          });
        }
        data.sort((a, b) => {
          return a.distance - b.distance;
        });
      }, 3000);
      getLocation()
  });

  const sort = (arr) => {
    let result = [];
    console.log(arr);
    let a = arr;
    //a.unshift({ location: curLocation, phone:'vi tri hien tai' });
    console.log(curLocation)
    let cur = curLocation.match(/\d+\.\d+/g);
    let min = 100;
    let r
    a.map((v, i) => {
        let loc = v.location.match(/\d+\.\d+/g);
        let dis = distanceInKmBetweenEarthCoordinates(
          cur[0],
          cur[1],
          loc[0],
          loc[1]
        );
        if (dis < min) {
          r = v;
          min=dis
          console.log(dis)
        }
    });
    result.push(r)
    console.log(r)
    console.log('diss')
    

    a.map((v, i) => {
      let cur = curLocation.match(/\d+\.\d+/g);
      for (let j = i + 1; j < a.length; j++) {
      let min = 100;
        let loc = v.location.match(/\d+\.\d+/g);
        let dis = distanceInKmBetweenEarthCoordinates(
          cur[0],
          cur[1],
          loc[0],
          loc[1]
        );
        if (dis < min) {
          min = dis;
          result.push(a[j]);
        }
      }
    });
  };

  onDestroy(() => {
    clearInterval(interval);
  });

  function degreesToRadians(degrees) {
    return (degrees * Math.PI) / 180;
  }
  function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {
    var earthRadiusKm = 6371;
    var dLat = degreesToRadians(lat2 - lat1);
    var dLon = degreesToRadians(lon2 - lon1);
    lat1 = degreesToRadians(lat1);
    lat2 = degreesToRadians(lat2);
    var a =
      Math.sin(dLat / 2) * Math.sin(dLat / 2) +
      Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    return earthRadiusKm * c;
  }

  let st = 0;
  let txtFin = ''
  const fil = () => {
    if(st == -1){
      data = tmp
    }else{
      let f = tmp.filter((v) => v.status == st);
      console.log(f);
      data = f;
    }
    if(txtFin){

      fin()
    }
    
  };
  
  const fin = () => {
    let f = tmp.filter((v) => v.status == st);
    data = f.filter(doc => doc.phone.search(txtFin)>0 || doc.note.search(txtFin)>=0)
    console.log(data)
  }

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPositon, showError);
    } else {
      errorCode = 1;
    }
  }

  function showPositon(position) {
    if (position.coords.accuracy < 10000) {
      curLocation = `${position.coords.latitude},${position.coords.longitude}`;
    } else {
      alert("dinh vi khong chinh xac");
    }
  }

  function showError(error) {
    if (error.PERMISSION_DENIED) {
      errorCode = 2;
    } else {
      errorCode = 3;
    }
  }

  const upd = async (phone, status) => {
    const res = await fetch("/", {
      method: "POST",
      headers: {
        "content-type": "application/json",
        accept: "application/json",
      },
      body: JSON.stringify({ phone: phone, status: status }),
    });

    if (res.status == 200) {
      alert("update!");
    }
  };
</script>

<div class="flex flex-col p-1 space-y-5 fixed bottom-0 right-0 left-0 bg-white z-10">
  <div class="flex items-center space-x-1">
    
    <button class="btn" on:click={()=>{isEdit = !isEdit}}>Edit</button>
    <input type="text" bind:value={txtFin} on:keyup={fin} class="p-1 border-2">
   <strong>{data.length}</strong>

    <select class="select w-full" bind:value={st} on:change={fil}>
      <option value={-1}> ALL</option>
      <option value={0}> GIAO </option>
      <option value={1}> TC </option>
      <option value={2}> HEN </option>
      <option value={3}> KMN </option>
      <option value={4}> OK </option>
      <option value={5}> XOA </option>
    </select>

    
  </div>
</div>
<div class="flex grow flex-col pb-20">
  {#each data as d, i}
    <div
      class="p-2 border m-1 {d.isnew == true && 'bg-gray-100'}
       {d.status == 1 && 'border-black border-l-8'}
       {d.status == 2 && 'border-red-700 border-l-8'}
       {d.status == 3 && 'border-yellow-600 border-l-8'}
       {d.status == 4 && 'border-green-700 border-l-8'}
           
       "
    >
      <div class="flex justify-between">
        <p>
          Phone: <a class="text-blue-500 text-2xl" href="tel:{d.phone}"
            >{d.phone}</a
          >
        </p>
        <strong class="text-xl"
          >{Math.round(d.distance * 100) / 100 || 0} km</strong
        >
      </div>
      <div>
        Location:<input
          disabled={isEdit}
          type="text"
          bind:value={d.location}
          class="border-2 p-2"
        />
      </div>
      <div>
        Note:
        <textarea
        disabled={isEdit}
          name=""
          id=""
          rows="2"
          class="border-2 w-full text-lg font-semibold"
          bind:value={d.note}
        />
      </div>
      <div class="flex justify-around">

        {#if st == 2 || st == 3}
        <button
          class="btn "
          on:click={async () => {
            const res = await fetch("/order", {
              method: "PUT",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                location:d.location,
                phone: d.phone,
                note: d.note,
                status: 0,
              }),
            });

            if (res.status == 200) {
              data[i].status = 1;
              fil();
            }
          }}>GIAO</button
        >
        {/if}
        <button
          class="btn bg-black"
          on:click={async () => {
            const res = await fetch("/order", {
              method: "PUT",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                location:d.location,
                phone: d.phone,
                note: d.note,
                status: 1,
              }),
            });

            if (res.status == 200) {
              data[i].status = 1;
              fil();
            }
          }}>TC</button
        >
        <button
          class="btn bg-red-700"
          on:click={async () => {
            const res = await fetch("/order", {
              method: "PUT",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                location:d.location,
                phone: d.phone,
                note: d.note,
                status: 2,
              }),
            });

            if (res.status == 200) {
              data[i].status = 2;
              fil();
            }
          }}>HEN</button
        >

        <button
          class="btn bg-yellow-600"
          on:click={async () => {
            const res = await fetch("/order", {
              method: "PUT",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                location:d.location,
                phone: d.phone,
                note: d.note,
                status: 3,
              }),
            });

            if (res.status == 200) {
              data[i].status = 3;
              fil();
            }
          }}>KNM</button
        >
        <button
          class="btn bg-green-700"
          on:click={async () => {
            const res = await fetch("/order", {
              method: "PUT",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                phone: d.phone,
                note: d.note,
                location: curLocation,
                status: 4,
              }),
            });
            getLocation();
            if(curLocation){
              setTimeout(async () => {
              const res = await fetch("/user", {
                method: "PUT",
                headers: {
                  "content-type": "application/json",
                  accept: "application/json",
                },
                body: JSON.stringify({
                  phone: d.phone,
                  note: d.note,
                  location: curLocation,
                }),
              });
              if(res.status == 200){
                console.log('update location')
                alert('update location')
              }
            }, 1000);

            if (res.status == 200) {
              let r = await res.json();
              
              data[i].location = r.location;
              data[i].status = 4;
              fil();
              }
            }else{
              alert('vi tri chua san sang')
            }
            
          }}>OK</button
        >

        <button
          class="btn bg-blue-700"
          on:click={async () => {
            setTimeout(async () => {
              const res = await fetch("/order", {
                method: "PUT",
                headers: {
                  "content-type": "application/json",
                  accept: "application/json",
                },
                body: JSON.stringify({
                  phone: d.phone,
                  note: d.note,
                  location: d.location,
                  status: d.status,
                }),
              });
              if(res.status == 200){
                let r = await res.json();
                data[i].location = r.location;
                data[i].note = r.note;
                console.log(r)
                console.log('update location')
              }
            }, 1000)
          }}>SAVE</button
        >
        {#if st == 4}
          <button
            class="btn "
            on:click={async () => {
              const res = await fetch("/order", {
                method: "PUT",
                headers: {
                  "content-type": "application/json",
                  accept: "application/json",
                },
                body: JSON.stringify({
                  location:d.location,
                  phone: d.phone,
                  note: d.note,
                  status: 5,
                }),
              });

              if (res.status == 200) {
                data[i].status = 5;
                fil();
              }
            }}>XOA</button
          >
        {/if}
      </div>
    </div>
  {/each}
</div>
