<script lang='ts'>
    let dataScan = []
    let currentText = ''
    const handlePaste = () =>{
        navigator.clipboard.readText()
        .then(clipText => {
            currentText = clipText
            
            const phone=currentText.match(/0\d{8,}/)[0]
            const address=currentText.split(phone)[0].replace(/\n|\r/g, " ")||' '
            console.log(address)
            dataScan = [...dataScan, {address:address,address2:'',City:'Trà Vinh',State:'', PostalCode:87000,phone:phone}]
            console.log(dataScan)
            setTimeout(()=>{
                currentText = ''
            },3000)
        })
    }
    let alert = 0
    const handlePost = async () =>{
        const res = await fetch('/scan',{
            method:'POST',
            headers:{
              accept: 'application/json',

            },
            body:JSON.stringify({infos:dataScan})
        })
        if(res.status==200){
            alert=1
        }
    }


    let csv = ''
    const getCsv = async()=>{
    csv = convertArrayOfObjectsToCSV({
            data: dataScan,
        });
        
}
function convertArrayOfObjectsToCSV(args) {  
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function(item) {
            ctr = 0;
            keys.forEach(function(key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }


    function downloadCSV(args) {  
        var data, filename, link;
        var csv = convertArrayOfObjectsToCSV({
            data: dataScan,
        });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }

    let setLive = new Set()
    let liveText = ''
    const onChange = () =>{
        const phones= liveText.match(/0\d{8,}/g)
        if(phones){
            phones.forEach(v=>{setLive=setLive.add(v)})
            liveText = ''
        }
        
    }
    const addToScan = ()=>{
        const arr = [...setLive]
        arr.forEach(v=>{
            dataScan = [...dataScan, {address:'',address2:'',City:'Trà Vinh',State:'', PostalCode:87000,phone:v}]
        })
        
    }

    const saveLoc = async (phone, address)=>{
        let [lat,lng] = address.split(",")
        const res = await fetch("/newloc", {
        method: "POST",
        headers: {
          "content-type": "application/json",
          accept: "application/json",
        },
        

        body: JSON.stringify({
          address: address.split('"')[1],
          id: phone,
          lat:lat.split('"')[1],
            lng:lng.split('"')[0],
        }),
      });
    }
</script>


{#if alert == 1}
    <div class="alert alert-success shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >
        <span>POST thanh cong </span>
      </div>
    </div>

  {/if}
<div class="container p-4 space-x-3 space-y-5 flex flex-col">
    <p>{setLive.size}</p>
    <input class="container flex flex-row p-3 border-2 border-black" 
     type="text" bind:value = {liveText} on:keyup={onChange}>
     <button class="btn" on:click={addToScan}>add to dataScan</button>

<div class="container flex flex-row p-5 justify-center  space-x-2 space-y-5"> 
    <textarea type="text" class="grow border border-black"
     bind:value={currentText}></textarea>
    <div class="flex  justify-center"><button class="btn" on:click={handlePaste}>Paste</button></div>
</div>
<div class="flex justify-around">
    <button class="btn btn-primary" on:click={handlePost}>Post</button>
    <button class="btn btn-primary" on:click={getCsv}>CSV</button>
    <button class="btn btn-primary" on:click={()=>{
        downloadCSV({ filename: "stock-data.csv" })
    }}>DOWNLOAD CSV</button>
   
</div>
  <textarea type="text" class="grow border border-black"
     bind:value={csv}></textarea>

<div>
    <p class="font-bold">thong tin ({dataScan.length})</p>
    {#each dataScan.reverse() as info,i}
    <div class="flex justify-center items-center space-x-3 p-3 border-2 m-2 border-black">
        <div>
            <p class="font-semibold text-green-700">{info.phone}</p>
            <input type="text" bind:value={info.address}
            on:change={() =>{

            }}
             class="p-2 border my-2">
        </div>
        <button class="btn" on:click={()=>{
            saveLoc(info.phone, info.address)
            }}  >Save</button>
    </div>
        
    {/each}
</div>
   </div>