<script lang="ts">
  import { page } from "$app/stores";
  import { onMount } from "svelte";

  let errorCode = -1;
  let pos = {
    latitude: 0,
    longitude: 0,
    accuracy: 0,
  };
 let phone = ''
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPositon, showError);
    } else {
      errorCode = 1;
    }
  }

  async function showPositon(position) {
    pos.latitude = position.coords.latitude;
    pos.longitude = position.coords.longitude;
    pos.accuracy = position.coords.accuracy;
    console.log(position.coords);
    if (pos.accuracy < 100) {
      postNewPosition();
    } else {
      errorCode = 4;
    }
  }

  function showError(error) {
    if (error.PERMISSION_DENIED) {
      errorCode = 2;
    } else {
      errorCode = 3;
    }
  }

  async function postNewPosition() {
    console.log("postNewPosition")
    if (
      pos.latitude != 0 &&
      pos.longitude != 0
    ) {
      const res = await fetch("/newloc", {
        method: "POST",
        headers: {
          "content-type": "application/json",
          accept: "application/json",
        },

        body: JSON.stringify({
          lat: pos.latitude,
          lng: pos.longitude,
          id: phone,
        }),
      });
      console.log(res)
      if (res.status == 200) {
        errorCode = 0;
        phone = ''
      }
    }
  }

 
  const handlePaste = () =>{
        navigator.clipboard.readText()
        .then(async(clipText) => {
          phone = clipText
          getLocation()
        })
    }
</script>

<div class="container flex flex-col px-5 space-y-5">
  <h1 class="text-lg font-semibold p-3 pt-10 text-center">
    ADD LOCATION FORM NUMBER PHONE
  </h1>
  <input type="text" bind:value = {phone} class="border-2">
  <button on:click={handlePaste} class="btn">PASTE</button>

  

  {#if errorCode == 0}
    <div class="alert alert-success shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >
        <span>Thành công </span>
      </div>
    </div>

  {/if}

  {#if errorCode == 1}
    <div class="alert alert-error shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >
        <span>Trình Duyệt không hỗ trợ vị trí địa lý.</span>
      </div>
    </div>
  {/if}

  {#if errorCode == 2}
    <div class="alert alert-warning shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          /></svg
        >
        <span>Bạn chưa cấp quyền truy cập vị trí địa lý.</span>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <button class="btn btn-info" onclick={getLocation}>KIỂM TRA</button>
    </div>
  {/if}

  {#if errorCode == 3}
    <div class="alert alert-error shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >
        <span>Lỗi không xác định.</span>
      </div>
    </div>
  {/if}

  {#if errorCode == 4}
    <div class="alert alert-warning shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          /></svg
        >
        <span
          >Vị trí kém chính xác. Bạn vui lòng sử dụng smartphone mới hơn để truy
          cập.</span
        >
      </div>
    </div>
  {/if}
</div>
