<script >
    import {onMount} from 'svelte'
    let data= []
    let user = []
    let newUser = []
    let textarea = ''
    let focus 

    let fileInput;
	let imgBase;
	let imgBase1;
	let imgTotal;
	let files;

	let phones  = []

    let submit = async () => {

        let obj = {

        }
    if(imgBase1){
        obj= {
            img: imgBase.split(',')[1],
            img1: imgBase1.split(',')[1]
        }
    }else{
        obj= {
            img: imgBase.split(',')[1]
        }
    }

    let res = await fetch('/orc', {
        method: 'POST',
        headers: {
                "content-type": "application/json",
                accept: "application/json",
            },
        body: JSON.stringify(obj)
    });
    if (res.status == 200) {
        let body = await res.json();
        console.log(body);

        const arrPhone = body.map(v => v.phone)

        console.log('arrPhone');
        console.log(arrPhone)

        let res1 = await fetch('/user',{
            method:'PATCH',
            headers: {
                "content-type": "application/json",
                accept: "application/json",
            },
            body:JSON.stringify({arrPhone:[...arrPhone]})
        })

        if(res1.status==200){
            const body1= await res1.json()
            let re = []
            body.forEach(v => {
                const r = body1.filter(val => val.phone == v.phone);
                if(r[0]){
                    re.push({...r[0], isnew:false})
                }else{
                    re.push({
                        phone:v.phone,
                        note:v.note,
                        location:'',
                        isnew:true
                    })
                }

                
            })
            data = [...data, ...re]
        }


    }
        
        

    
}

function getBase64(files) {
    console.log(files[0]);
    let reader = new FileReader();
    reader.readAsDataURL(files[0]);
    reader.onload = (e) => {
        imgBase = e.target.result
    }
    if(files[1]){
        let reader1 = new FileReader();
        reader1.readAsDataURL(files[1]);
        reader1.onload = (e) => {
            imgBase1 = e.target.result
        }
    }

}



    
    

    const handleData = async()=>{
        
        let t = textarea
        let arrPhone = new Set()
        const phone = t.match(/0\d{9}/g)
        if(phone){
            phone.forEach(v => arrPhone.add(v))
            console.log([...arrPhone])
            const res = await fetch('/user',{
                method:'PATCH',
                headers: {
                    "content-type": "application/json",
                    accept: "application/json",
                },
                body:JSON.stringify({arrPhone:[...arrPhone]})
            })
            if(res.status == 200){
                const body = await res.json()
                console.log(body)
                let old = [...arrPhone]
                let re = []
                old.forEach(v => {
                    const r = body.filter(val => val.phone == v);
                    if(r[0]){
                        re.push({...r[0], isnew:false})
                    }else{
                        re.push({
                            phone:v,
                            note:'',
                            location:'',
                            isnew:true
                        })
                    }
                })
                console.log('re')
                console.log(re)
                
                data = [...data, ...re]
                textarea = ''

            }else{
               alert('get user fail')
            }
            
        }
        
    }
    let badge = []
    let addbag=''

</script>
{#if badge}
<p>{badge}</p>
{/if}
<div class="w-full">
  <input class="input input-bordered w-full max-w-xs" type="text" bind:value={addbag} >
  <button class="btn" on:click={()=>{
    console.log(badge)
    badge = [...badge,addbag]
    addbag = ''
    }}>Add</button>
</div>

<div>
  <textarea
    name=""
    id=""
    rows="1"
    class="border-2 w-full text-2xl"
    bind:value={phones}
  />
</div>
<div class="flex flex-col p-3">
  <div on:click={() => fileInput.click()}>
    {#if imgBase}
      <div class="border border-2 rounded-md flex justify-center p-3 m-2">
        <img src={imgBase} alt="upload" class="w-40 h40" />
        <img src={imgBase1} alt="upload" class="w-40 h40" />
      </div>
    {:else}
      <div class="border border-2 rounded-md flex justify-center p-3 m-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-20 h-60"
          viewBox="0 0 512 512"
          ><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path
            d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
          /></svg
        >
      </div>
    {/if}
    <input
      class="hidden"
      id="file-to-upload"
      type="file"
      accept=".png,.jpg, .HEIC"
      multiple
      bind:files
      bind:this={fileInput}
      on:change={() => getBase64(files)}
    />
  </div>
  <div on:click={() => fileInput.click()}>
    {#if imgTotal}
      <img src={imgTotal} alt="upload" />
      <img src={imgTotal} alt="upload" />
    {/if}
  </div>

  <button on:click={submit} class="btn"> submit</button>
</div>

<div class="flex flex-col p-2 space-y-5">
  <strong>{data.length}</strong>
  <textarea
    name=""
    id=""
    rows="4"
    class="border-2 w-full"
    bind:value={textarea}
  />
  <div class="grid grid-cols-2 gap-1">
    <button class="btn" on:click={handleData}>ADD</button>
  </div>
  <div class="flex grow flex-col">
    {#each data as d, i}
      <div
        class:bg-gray-200={d.isnew == true}
        class="p-2 border-2 border-black"
      >
        <p>
          Phone: <a class="text-blue-500 text-xl" href="tel:{d.phone}"
            >{d.phone}</a
          >
        </p>
        <div>
          Location:<input
            type="text"
            bind:value={d.location}
            class="border-2 p-2"
          />
        </div>
        <div>
          Note:
          <textarea
            name=""
            id=""
            rows="4"
            class="border-2 w-full"
            bind:value={d.note}
          />
        </div>
        {#if badge}
          {#each badge as bg}
          <div class="badge badge-info gap-2" on:click={()=>{
            data[i].note = d.note + " " + bg
          }}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            bg
          </div>
          {/each}
        {/if}

        <button
          class="btn btn-primary"
          on:click={async () => {
            const res = await fetch("/order", {
              method: "POST",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
              },
              body: JSON.stringify({
                phone: d.phone,
                location: d.location,
                note: d.note,
                isnew: d.isnew,
              }),
            });

            if (res.status == 200) {
              if (d.isnew == true) {
                const res = await fetch("/user", {
                  method: "POST",
                  headers: {
                    "content-type": "application/json",
                    accept: "application/json",
                  },
                  body: JSON.stringify({
                    phone: d.phone,
                    note: d.note,
                    location: d.location,
                  }),
                });

                if (res.status == 200) {
                  alert("post order & user OK");
                }
              } else {
                alert("post order OK");
              }
            }
          }}>POST Order</button
        >
        {#if d.isnew == true}
          <button
            class="btn btn-primary"
            on:click={async () => {
              const res = await fetch("/user", {
                method: "POST",
                headers: {
                  "content-type": "application/json",
                  accept: "application/json",
                },
                body: JSON.stringify({
                  phone: d.phone,
                  note: d.note,
                  location: d.location,
                }),
              });

              if (res.status == 200) {
                alert("post user OK");
              }
            }}>POST User</button
          >
        {/if}
      </div>
    {/each}
  </div>
</div>
