<script>
    let fileInput;
	let imgBase;
	let imgBase1;
	let imgTotal;
	let files;

	let phones  = []

    let submit = async () => {

		let obj = {

		}
		if(imgBase1){
			obj= {
				img: imgBase.split(',')[1],
                img1: imgBase1.split(',')[1]
			}
		}else{
			obj= {
				img: imgBase.split(',')[1]
			}
		}

		let res = await fetch('/orc', {
			method: 'POST',
			headers: {
                    "content-type": "application/json",
                    accept: "application/json",
                },
			body: JSON.stringify(obj)
		});
		if (res.status == 200) {
			let body = await res.json();
			console.log(body);
			phones = [...phones, ...body]
		}else{
			console.log('loi')
		}
	};

	function getBase64(files) {
		console.log(files[0]);
        let reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onload = (e) => {
            imgBase = e.target.result
        }
		if(files[1]){
			let reader1 = new FileReader();
			reader1.readAsDataURL(files[1]);
			reader1.onload = (e) => {
				imgBase1 = e.target.result
			}
		}
		
    }

</script>
<div>
	<textarea name="" id="" rows="5" class="border-2 w-full text-2xl" bind:value={phones.phone}></textarea>
</div>
<div class="flex flex-col p-3">



		<div on:click={() => fileInput.click()}>
			{#if imgBase}
			<div class="border border-2 rounded-md flex justify-center p-3 m-2">
				<img src={imgBase} alt="upload" class = "w-40 h40"/>
				<img src={imgBase1} alt="upload" class = "w-40 h40"/>
			</div>
				
			{:else}
				<div class="border border-2 rounded-md flex justify-center p-3 m-2">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-60" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/></svg>
				</div>
			{/if}
			<input
				class="hidden"
				id="file-to-upload"
				type="file"
				accept=".png,.jpg, .HEIC"
				multiple
				bind:files
				bind:this={fileInput}
				on:change={() => getBase64(files)}
			/>
		</div>
		<div on:click={() => fileInput.click()}>
			{#if imgTotal}
				<img src={imgTotal} alt="upload" />
				<img src={imgTotal} alt="upload" />
			{/if}
		</div>

        <button on:click={submit} class="btn"> submit</button>
</div>
		
