<script>
    let phoneForFind  = ''
    let objUser ={
        phone:'',note:'', location:''
    }
    const findPhone = async()=>{
        let res = await fetch('/user',{
            method:'DELETE',
            headers: {
                "content-type": "application/json",
                accept: "application/json",
            },
            body:JSON.stringify({phone:`0${phoneForFind}`})
        })
        console.log(res)

        if(res.status == 200){
            const body = await res.json()
            console.log(body)
            objUser = body
        }else{
            alert('can not get')
        }

    }

    let bill =[]
    

    const getdata = async()=>{
        let res = await fetch('/find',{
            method:'PATCH',
            headers: {
                    "content-type": "application/json",
                    accept: "application/json",
                },
        })
        if(res.status == 200){
            const body = await res.json()
            console.log(body)
            console.log(body.data)
            bill = body.data
            console.log('bill')
            console.log(typeof(bill))
        }
    }

    function savePhone(){
        let phones = []

        let final = []

        bill.data.map(v=>{
            if(phones.includes(v.phone)){
                final.map((va, id)=>{
                    if(va.phone == v.phone){
                        finall[id].billcode.push(va.billcode)
                        finall[id].itemsvalue.push(va.itemsvalue)
                        finall[id].bag.push(va.bag)
                    }
                })
            }else{
                phones.push(v.receivermobile)
                final.push({
                    billcode:[v.billcode],
                    receivername:v.receivername,
                    receivermobile:v.receivermobile,
                    receiveraddress:v.receiveraddress,
                    itemname:v.itemname,
                    itemsvalue:[v.itemsvalue],
                    remark:v.remark,
                    totalfee:v.totalfee,
                    paytype:v.paytype,
                    bag:[v.bag],
                })
            }
        })

        localStorage.setItem("phones", JSON.stringify({data:phones}))
        localStorage.setItem("final", JSON.stringify({data:final}))


    }

    function setBag(billcode, bagName){

    }

    import QrScanner from 'qr-scanner';
    let videoEl;
    let billScan = ''
    let bagName = 'bag 1'
    

    const getScan = () => {
		const qrScanner = new QrScanner(videoEl, (result) => {
			billScan = result;
			qrScanner.stop()
		});
		qrScanner.start();
	};

    const findB=()=>{
        let f = bill.filter((v) => v.billcode.search(billScan)>0)
    }

</script>

<div class="w-full">
    <input class="input input-bordered w-full max-w-xs" type="number" bind:value={phoneForFind} >
    <button class="btn" on:click={findPhone}>Find</button>

    <div class="flex flex-col space-y-3 p-5">
        <p class="text-lg">{objUser.phone}</p>
        <p>{objUser.note}</p>
        <p>{objUser.location}</p>
    </div>
</div>

<button class='btn btn-primary' on:click={getdata}>
    GET ALL Order Pices
</button>

<button class="btn" on:click={()=>{localStorage.clear()}}>Clear localStorage</button>

<div class="p-3">
    <input class="input border bg-gray-300" type="text" bind:value = {bagName}>
    <input class="input border bg-gray-300" type="text" bind:value = {billScan} on:change={findB}>
    
    <div>
        
        <button class="btn" on:click={getScan}>GET SCAN</button>
        <button class="btn" on:click={()=>{
            localStorage.setItem("bill", JSON.stringify({data:bill}))
            console.log(localStorage.getItem("bill"))
            bill=[]
        }}>SAVE</button>
        <button class="btn" on:click={()=>{
            let data = localStorage.getItem("bill")
            let dataParser = JSON.parse(data)
            bill = dataParser.data
        }}>LOAD</button>
    </div>
    <video bind:this={videoEl} class="fixed top-0 right-0 left-0 bottom-0" style="z-index:11"/>
    {#if bill}
        <p>{bill.length}</p>
        {/if}
        {#if bill}
        {#each bill as bil, i}
            <div class="p-2 text-lg" on:click={()=>{
                bill[i].bag=bagName
                console.log(bill[i])
            }}>{bil.billcode} <span class="">{bil.bag || ""}</span></div>
        {/each}
    {/if}
</div>