<script>
    import { Html5Qrcode } from 'html5-qrcode'
    import { onMount } from 'svelte'

    let scanning = false

    let html5Qrcode

    let text=''
    let data = []

    let namebag = 't'
    let currentbag = []

    onMount(init)

    function init() {
        html5Qrcode = new Html5Qrcode('reader')
        let strdata=localStorage.getItem('bill')
       
        let jsondata = JSON.parse(strdata)
        data = jsondata.data
        console.log(data)
    }

    function start() {
        html5Qrcode.start(
            { facingMode: 'environment' },
            {
                fps: 10,
                qrbox: { width: 250, height: 250 },
            },
            onScanSuccess,
            onScanFailure
        )
        scanning = true
    }

    async function stop() {
        await html5Qrcode.stop()
        scanning = false
    }

    function onScanSuccess(decodedText, decodedResult) {
        console.log(decodedText)
        if(text != decodedText){
             text=decodedText
            let filtered = data.filter((value)=>{
            return value.billcode == text
            })

            if(filtered){
               currentbag =[text,...currentbag] 
               

            }
        }
       
    }

    function onScanFailure(error) {
        console.warn(`Code scan error = ${error}`)
    }

 
    const changenamebag = () => {
        currentbag = data.map(v=>{
            if(v.bag == namebag) {
                return v.billcode
            }
        })
    }
</script>
<main>
   
    
    <reader id="reader"/>

    <div class="flex items-center justify-aroud space-x-3">
        {#if data}
            <p>{data.length} => {currentbag.length}</p>
            {:else}
            <p> Loading...</p>
        {/if}

        <input type="text" bind:value={namebag} on:change={changenamebag}  class="input input-text bg-gray-200 text-lg" />
       
    </div>
     <input type="text" class="input input-text bg-gray-200 text-lg" bind:value={text}>
    {#if scanning}
        <button class="btn" on:click={stop}>stop</button>
    {:else}
        <button class="btn" on:click={start}>start</button>
    {/if}

    <div class="flex flex-column">
        {#if currentbag}
            {#each  currentbag as bagcode}
            <div class="flex flex-row p-3 items-center space-x-3">
                <p class="text-lg">{bagcode}</p>
                <button class="btn bg-red-400">X</button>
            </div>
            {/each}
        {/if}
    </div>
</main>
<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    reader {
        width: 100%;
        min-height: 500px;
        background-color: black;
    }
</style>